@tailwind base;
@tailwind components;
@tailwind utilities;

/* this is basically a global css file */

@font-face {
  font-family: 'fixedsys';
  src: url(/public/assets/fonts/FSEX300.woff);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: black;
  height: 100%;
}